<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--Database AspenTech, trusted_connection=windows credentials-->
    <!--<add name="Aspen tech" connectionString="EAAAAMBNfuRti/4Z63cGQjq3bMCKkA0pFurhTDEavxXs7KEGctIn4n2sZZOE38NE2/037w=="
            providerName="System.Data.Odbc" />-->
    <add name="Aspen tech" connectionString="Dsn=IP21;trusted_connection=Yes;"
         providerName="System.Data.Odbc" />
    <add name="Wonderware" connectionString="Data Source=172.24.29.198;Initial Catalog=MESDB;Integrated Security=SSPI"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>