<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Database AspenTech, trusted_connection=windows credentials-->
    <!--<add name="Aspen tech" connectionString="EAAAAMBNfuRti/4Z63cGQjq3bMCKkA0pFurhTDEavxXs7KEGctIn4n2sZZOE38NE2/037w=="
            providerName="System.Data.Odbc" />-->
    <add name="Aspen tech" connectionString="Dsn=IP21;trusted_connection=Yes;"
         providerName="System.Data.Odbc" />
    <add name="Wonderware" connectionString="Data Source=172.24.29.198;Initial Catalog=MESDB;Integrated Security=SSPI"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="userDatabaseFile" value="C:\Users\pasca\Documents\GitHub\Playground-v3\PlayGround v2.db"/>
  </appSettings>
</configuration>